azure-functions
aiohttp==3.10.2
azure-storage-file-share==12.4.1
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability